.myContainer{
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    background: linear-gradient(rgb(79, 110, 247), rgb(244, 233, 233));
    height: 600px;
    width: 400px;
    margin: 20px auto;
    border-radius: 5%;
    padding: 5px auto;
    color: aliceblue;
}

button{
    background: rgb(244, 233, 233);
    border: none;
    border-radius: 2%;
}
